@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica-Condensed-Light.woff2') format('woff2'),
        url('/fonts/Helvetica-Condensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/HelveticaCE-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaCE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/HelveticaCE-Narrow.woff2') format('woff2'),
        url('/fonts/HelveticaCE-Narrow.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* https://transfonter.org/ */